# frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# backend
backend/node_modules/
backend/__pycache__/
backend/venv/
backend/.env

# env files
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
*.log